*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::after,::before{
    box-sizing: border-box;
}
body{
    margin-left: 10px;
    background-color: bisque;
}
    
p {
    border-style: groove;
    text-align: center;
}

textarea {
    background-color:white;
    font-weight: 100px;
    padding: 0px 500px 100px 0;
    font-style:arial;
    color:black;
    font-size: 15px;
}
{
    border-top: 0 30 10 0;
    

}
body p{
    line-height:15px ;
    background-color: aqua;
    
}